#Black-Scholes {
    padding: 80px 80px 80px 50px;
    margin: 20px 0 0 6%;
    height: 620px;
    width: 47%;
    max-width: 640px;
    background: linear-gradient(100deg,transparent 0%, #f2f2f2 10%, #e8e8e8 50%, #dedede 90%);
    clip-path: polygon(0 7%, 100% 0, 92% 71%, 0 69%);
}