{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 50vh;
    background: #fff5f5;
}
.contain {
    position: relative;
    width: 54%;
    margin: 0 auto;
    height: 80vh;
    overflow: hidden;
}
.bubbles {
    position: relative;
    display: flex;
}
.bubbles span {
    position: relative;
    width: 10px;
    height: 10px;
    background: #fafafa;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e8e8e8, 0 0 50px #e0e0e0, 0 0 100px #e8e8e8;
    animation: animate 15s linear infinite;
    animation-duration: calc(150s/ var(--i));
}
.bubbles span:nth-child(even) {
    background: #fafafa;
    opacity: 0.7;
    box-shadow: 0 0 0 10px #eeeeee, 0 0 50px #e1e1e1, 0 0 100px #eeeeee;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0); 
    }
    100%{
        transform: translateY(-10vh) scale(1); 
    }
}

/* *************************** Hide Bubbles Section for iPhones *************************** */
@media screen and (max-width: 1179px) and (max-height: 2556px) {
    .contain {
        display: none !important;
    }
}


