#Education {
    max-width: 800px;
    margin: 340px auto 5px auto; /*auto à gauche et à droite pour centrer l'image*/
    padding: 50px 30px 100px 30px;
    background: url(./media/cscampus.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #283655;
}

#Education h3 {
    font-size: 2.5em;
    padding-bottom: 30px;
}

.school {
    font-size: 1.6em;
    color: #283655;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: 700;
}

.year {
    font-style: italic;
    color: #8a8a8a;
    margin-left: 20px;
}

.titlecourse {
    font-weight: 700;
    margin-left: 20px;
}

.description {
    line-height: 1.9em;
    margin-left: 50px;
    text-align: justify;
    margin-right: 50px;
}

.timeline {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #a1a1a1, #e7e7e7);
    border-image-slice: 1;
    margin: 10px;
    position: relative;
}



