.card-container {
    margin: 0 auto 200px auto; /*auto à gauche et à droite pour centrer l'image*/
    perspective: 1000px;
    width: 400px;
    height: 570px;
    clip-path: polygon(30% 2%, 40% 1%, 50% 0%, 60% 1%, 70% 2%, 90% 5%, 92% 8%, 100% 10%, 98% 85%, 97% 86%, 95% 88%, 90% 90%, 70% 95%,
                    50% 100%, 30% 95%, 10% 90%, 5% 88%, 3% 86%, 2% 85%, 0% 10%, 8% 8%, 10% 5%);
}
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card-container:hover .card {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    background: linear-gradient(135deg, #F6ECB1, #988033);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    clip-path: polygon(30% 2%, 40% 1%, 50% 0%, 60% 1%, 70% 2%, 90% 5%, 92% 8%, 100% 10%, 98% 85%, 97% 86%, 95% 88%, 90% 90%, 70% 95%,
                    50% 100%, 30% 95%, 10% 90%, 5% 88%, 3% 86%, 2% 85%, 0% 10%, 8% 8%, 10% 5%);
}

.card-front {
    color: #37270C; /*text color*/
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.card-front::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 52%; /* Adjust the height to cover the top part */
    background: linear-gradient(135deg, #F6ECB1, #988033),
    repeating-radial-gradient(
        circle at 20% 39%, 
        rgba(255,255,255,0.1) 0px, 
        rgba(255,255,255,0.1) 5px, 
        transparent 5px, 
        transparent 10px
    );
background-blend-mode: overlay;
    z-index: -1; /* Ensure it's behind other content */
}

.card-back {
    transform: rotateY(180deg);
    justify-content: center;
    color: #37270C; /*text color*/
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.card-front .horizontal-line {
    width: 80%;
    border-top: 1px solid #37270C;
}

.card-stats-container .vertical-line {
    width: 1px;
    height: 150px;  /* Adjust this to the desired height */
    background-color: #37270C;
    margin: 0 20px;  /* Space between the line and stats */
}

.score {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 35px;
    margin-left: -210px;
}
.nationality {
    font-family: sans-serif;
    font-size: 30px;
    margin-top: -10px;
    margin-left: -208px;
}

.french-flag {
    margin-left: -207px; 
}

.logo-cacib {
    margin-left: -208px;
}

.pic-fifa {
    margin-top: -190px;
    margin-left: 90px;
}

.player-name {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.stats-left {
    display: flex;
    flex-direction: column;  /* Stack the stats vertically */
    align-items: center;
    margin-left: -140px;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.vertical-line {
    width: 1px;
    height: 150px;  /* Adjust this to the desired height */
    background-color: #37270C;
    margin-top: -140px;
}

.stats-right {
    display: flex;
    flex-direction: column;  /* Stack the stats vertically */
    align-items: center;
    margin-left: 140px;
    justify-content: center;
    width: 100%;
    margin-top: -152px;
}

.stat {
    font-family: sans-serif;
    text-align: center;
}
.stat-value {
    font-size: 22px;
    font-weight: bold;
}
.stat-label {
    font-size: 10px;
    text-transform: uppercase;
}
.skills-list {
    list-style-type: none;
    padding: 0;
}
.skills-list li {
    margin: 8px 0;
    font-size: 14px;
}

.card-back-title {
    text-align: center;
    font-size: 14px;
}