@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap')

html {
    scroll-behavior: smooth;
}
body {
    color: #283655 !important;
    background-color: #f7faff !important;
    font-family: "Noto+Serif";
    cursor: default; /*change to none if you want to make it disappear*/
}

/*title style*/
h1 {
    text-align: center;
    padding: 1em 0 0 0; /* change for small screens*/
    font-family: 'Noto+Serif';
    font-size: 4.5em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;

}

h2 {
    text-align: center;
    font-family: "Noto+Serif";
    letter-spacing: 0.2em;
    padding: 0.8em 0 1.2em 0; /*20px 0 50px 0*/
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}

h3 {
    font-family: "Noto+Serif";
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}

li {
    list-style-type: none;
}

/*  ***************************Header****************************   */

.navbar {
    background-color:#FAFAFA;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}

.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    border: none;
    border-radius: 0;
    opacity: 0.9;
}

.dropdown-menu {
    margin-top: 0;
}

.submenu {
    display: none;
}

.dropdown-item.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    width: 100%;
}

.ST-interest-rate:hover > .submenu {
    display: block;
    position: absolute;
    border: none;
    border-radius: 0;
    right: 100%;  
    top: 70px;   
    margin-left: -160px;  
    width: 120px;  
}

.F-interest-rate:hover > .submenu {
    display: block;
    position: absolute;
    border: none;
    border-radius: 0;
    right: 100%;  
    top: 100px;   
    margin-left: -160px;  
    width: 120px;  
}

.local-volatility:hover > .submenu {
    display: block;
    position: absolute;
    border: none;
    border-radius: 0;
    right: 100%;  
    top: 130px;   
    margin-left: -160px;  
    width: 120px;  
}

.stochastic-volatility:hover > .submenu {
    display: block;
    position: absolute;
    border: none;
    border-radius: 0;
    right: 100%;  
    top: 160px;   
    margin-left: -160px;  
    width: 120px;  
}

.numerical-methods:hover > .submenu {
    display: block;
    position: absolute;
    border: none;
    border-radius: 0;
    right: 100%;  
    top: 190px;   
    margin-left: -160px;  
    width: 120px;  
}

/*profile picture style*/
img {
    border-radius: 2px;
}

#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto;
}

.presentation {
    height: 240 px;
    margin-top: 20 px;
}

.infos {
    border: 1px solid #b3aca7;
    display: flex; /* les éléments se répartissent de façon égale dans la boîte*/
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

/* page style */
header {
    text-align: center;
    height: 110vh;
    background: linear-gradient(to bottom, transparent 80%, #f7faff 99%), url(media/essec.jpeg) no-repeat fixed 50% 50%;
    background-size: cover;
}

/* Profile pic */
header .pic {
    border-radius: 8px;
    overflow: hidden;
}

header .pic:hover img {
    transform-origin: 50% 50%;
    filter: contrast(130%);
}

/* Resume in PDF button */
header .button {
    margin-top: 45px;
}
header .button a {
padding: 20px 80px;
border: 1px solid #b3aca7;
width: 300px;
}
header .button:hover a {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
