#ProfessionalExperience {
    margin: 1em 0 0 0;
}

/* ---------------- Blocs of experience ----------------- */
.exp {
    display: flex; /*le texte se met à côté de l'image */
}

.exp:nth-child(2) {
    margin-left: 300px;
}

.exp:nth-child(4) {
    margin-left: 300px;
}

/* ---------------------- bloc of one experience ------------------------ */
.cadre {
    position: relative;
    padding: 8em 0 8em 0;
    width: 60%;
    max-width: 600px; /* to be changed */
    border: none;
    background-color: transparent;
    color: #aca49c;
    text-align: center;
}

/* --------------- description of the job --------------- */
.legend {
    margin-top: 6em;
}

/* ------------------ image container ------------------- */
.img-container {
    height: 5em; /*90px*/
    width: 28em; /*440px*/
    max-width: 30em; /*500px*/
    overflow: hidden; /*tout ce qui dépasse est caché*/
    margin: 0 auto;
    box-shadow: 1em 1em 1em #111; /*1px 1px 10px #111*/
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
}

.img-container img {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.icon:hover {
    -moz-animation: rotatecircle 4s infinite linear;
    -webkit-animation: rotatecircle 4s linear;
}
.outerCircle {
    background-color: transparent;
    border: 0.1em solid #7f9ee1; /*2px*/
    opacity: .7;
    border-right: 0.1em solid transparent; /*2px*/
    border-left: 0.1em solid transparent; /*2px*/
    border-radius: 18em; /*300px*/
    width: 20.2em; /*338px*/
    height: 20.2em; /*338px*/
    position: absolute;
    top: 6%;
    left: 22%;
    -moz-animation: spinPulse 3s infinite ease-in-out;
    -webkit-animation: spinPulse 3s infinite ease-in-out;
}
.innerCircle {
    background-color: transparent;
    border: 0.1em solid #283655; /*2px*/
    opacity: .9;
    border-left: 0.1em solid transparent; /*2px*/
    border-right: 0.1em solid transparent; /*2px*/
    border-radius: 17em; /*280px*/
    width: 20em; /*330px*/
    height: 20em; /*330px*/
    position: absolute;
    top: 7%;
    left: 22%;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}
    
    
    @-moz-keyframes spinPulse {
        0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
        50% { -moz-transform:rotate(145deg); opacity:1; }
        100% { -moz-transform:rotate(-320deg); opacity:0; }
    }
    @-moz-keyframes spinoffPulse {
        0% { -moz-transform:rotate(0deg); }
        100% { -moz-transform:rotate(360deg);  }
    }
    @-webkit-keyframes spinPulse {
        0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
        50% { -webkit-transform:rotate(145deg); opacity:1;}
        100% { -webkit-transform:rotate(-320deg); opacity:0; }
    }
    @-webkit-keyframes spinoffPulse {
        0% { -webkit-transform:rotate(0deg); }
        100% { -webkit-transform:rotate(360deg); }
    }
    @-moz-keyframes rotatecircle {
        0% { -moz-transform:rotate(0deg); }
        100% { -moz-transform:rotate(-360deg); }
    }
    
    @-webkit-keyframes rotatecircle {
        0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
    }


